/* ==UserStyle==
@name           Oculus Forum Dark Mode
@namespace      OculusForum
@version        0.2.3
@description    Dark theme for the Khoros based Oculus community forums.
@homepageURL https://github.com/rajetic/oculusforumtool
@updateURL   https://github.com/rajetic/oculusforumtool/raw/master/Oculus_Forum_Dark_Mode.user.css
@author         Kojack
@preprocessor stylus
@var checkbox showPreview "Show Post Preview" 1
@var checkbox stretchToWindow "Use full page width" 0
@var checkbox showSignatures "Show signature blocks" 1


==/UserStyle== */

@-moz-document domain("forums.oculusvr.com") 
{
    :root
    {
        --moderator:        #ff8030;
        --staff:            #1D80ff;
        --user:             #ffffff;
        --moderator_read:   #733909;
        --staff_read:       #1f3fb5;
        --user_read:        #707070;
        --background1:      #000000;
        --background2:      #000000;
        --background3:      #2c2e30;
        --background4:      #505050;
        --text:             #eeeeee;
        --textMid:          #808080;
        --textLight:        #b0b0b0;
        --textheading:      #ffffff;
        --lastPostTime:     #dddddd;
        --boxes:            #d0d0d0;
        --announcement:     #133534;
        --listBorders:      #000000;
        --postCount:        #eeeeee;
        --test:             #00ff00;
        --boldUser:         #ffffff;
        --normalUser:       #c0c0c0;
        --unreadThread:     #ffffff;
        --readThread:       #b0b0b0;
        --threadStats:      #80d0ff;
        --kudosCount:       #80d0ff;
        --button:           #1D65C1;
        --shareButton:      #505050;
        --pinnedThread:     #303060;
        --links:            #80d0ff;
        --blueButton:       #1D65C1;
        --signature:        #a0a0a0;
    }

    body
    {
        color: var(--text) !important; 
        background-color: var(--background2) !important; 
    }

    /* div.header-hero-wrapper
    {
        background-color: rgba(255,0,0,0.1) !important; 
    }
    */

    .lia-list-wide,.t-data-grid
    {
        border-top-color: var(--listBorders) !important; 
        border-bottom-color: var(--listBorders) !important; 
        background-color: var(--background3) !important; 
    }

    .lia-link-navigation::after
    {
        color: var(--text) !important;

    }
    .lia-component-quilt-header
    {
        color: var(--text) !important;
        background-color: var(--background2) !important; 
    }
    
    /* Footer */
    .lia-quilt-row-footer-bottom
    {
        display: none !important;
    }
    
    .custom-community-footer
    {
        background-color: var(--background2) !important; 
    }

    /* User settings menu */
    .user-navigation-settings-drop-down-inner>ul
    {
        background-color: var(--shareButton) !important;
        color: var(--text) !important;
    }

    
    /* Badges List */
    .lia-component-badges-list>div>div>div.lia-decoration-border-content>div>div>div>span
    {
        color: var(--text) !important;
        background-color: var(--background2) !important; 

    }
    
    .lia-quilt-row.lia-quilt-row-main>div>div
    {
        color: var(--text) !important;
        background-color: var(--background2) !important; 
    }
    
    .lia-button-Reset-action
    {
        border: none !important;
        color: var(--text) !important;
        background-color: var(--background4) !important; 
        
    }
/*--------------------------------------------------------------------------------------*/
/*Board list page*/
    
    /*Board titles*/
    .board-title>a
    {
        font-weight: normal !important;
    }

    .lia-link-navigation
    {
        color: var(--text) !important;
    }

    .local-friendly-date, .local-date, .local-time
    {
        color: var(--lastPostTime) !important;

    }
    .messageCountColumn
    {
        width: 11% !important;       
    }

    /*Post count on board panel*/
    .messageCountColumn.lia-data-cell-secondary.lia-data-cell-integer
    {
        color: var(--postCount) !important;
    }
    .lia-message-count.lia-recent-message-count
    {
        font-weight: normal !important;
        color: var(--postCount) !important;
    }
    /*Word "posts" on board panel*/
    .lia-message-count-label
    {
        color: var(--postCount) !important;
    }
    
    .recentMessageTimeColumn 
    {
        text-align: right !important;
    }
    .custom-community-header-user-navigation
    {
        background-color: var(--background2) !important; 
    }
    .lia-panel
    {
         background-color: var(--background2) !important;
    }
    .lia-panel-heading-bar-title
    {
        color: var(--text) !important;

    }

    /*Lines between rows in board panel*/
    tr.lia-list-row>td
    {
        border-top-color: var(--listBorders) !important;
    }

    .search-input
    {
        color: var(--text) !important; 
        background-color: var(--background2) !important;  
    }

    /*Load More button region*/
    .lia-view-all
    {
          background-color: var(--background3) !important;        
    }
    
/* Moderation */
    .lia-node-icon,
    {
        color: var(--text) !important; 
    }
    .lia-list-tree-toggle
    {
        background-color: var(--text) !important; 
    }
    .lia-fa-help
    {
        color: var(--text) !important; 
    }
    .ModeratorControlsTaplet>ul>li>a
    {
        background-color: var(--background1) !important;    
    }
    .custom-profile-activity-posts a
    {
        color: var(--links) !important; 
    }
    .custom-profile-activity-posts div
    {
        color: var(--text) !important; 
    }
    .custom-profile-activity-posts time
    {
        color: var(--text) !important; 
    }
    .ui-dialog
    {
        background-color: var(--background3) !important;
        
    }
    .lia-form-type-text
    {
        background-color: var(--background1) !important;
        color: var(--text) !important; 
    }
    .lia-fieldset-title
    {
        color: var(--text) !important; 
    }
    .lia-table-head th
    {
        color: var(--text) !important;
    }
/*--------------------------------------------------------------------------------------*/
/* Thread list */

    /* "Forum Posts" header */
    h2
    {
        color: var(--text) !important; 
    }

    .custom-tile-author-info>strong>a>span
    {
        color: var(--normalUser) !important; 
        font-weight: normal !important;
    }
    .custom-tile-author-info>strong>a>span.login-bold
    {
        color: var(--boldUser) !important; 
        font-weight: normal !important;
    }

    

    .custom-tile-author-info>em
    {
        color: var(--normalUser) !important; 
        font-weight: normal !important;
    }

    /* Background of thread panel */
    .custom-message-tile
    {
        background-color: var(--background3) !important;  
        border-bottom: 2px solid var(--background1) !important;
    }
    /* Background of pinned thread panel */
    .custom-thread-floated
    {
        background-color: var(--pinnedThread) !important;  
    }
    .custom-thread-floated ::before
    {
    color: var(--textMid) !important;  
    }
    
    /* Read thread title */
    .custom-message-tile>div>h3>a
    {
        color: var(--readThread) !important; 
        font-weight: normal !important;
    }

    /* Unread thread title */
    .custom-message-tile.custom-thread-unread>div>h3>a
    {
        color: var(--unreadThread) !important; 
        
    }

    .custom-message-tile.custom-thread-unread>div>p
    {
        color: var(--textLight) !important; 
        font-weight: normal !important;
    }

    /* Hide previews of threads */
    if showPreview == 0
    {
        .custom-message-tile>div>p,.custom-message-tile>div>figure
        {
            display: none !important;
        }
    }

    /* Numbers for views/replies/kudos */
    .custom-tile-statistics>li>b
    {
        color: var(--text) !important;
    }

    /* Icons for views/replies/kudos */
    .custom-tile-statistics>li::before
    {
        color: var(--threadStats) !important;
    }

    /* Thread creation time */
    time
    {
        color: var(--threadStats) !important;
    }
    
    /* Padding around thread */
    .custom-message-tile
    {
        padding: 0px !important;
    }
    
    .custom-message-tile>footer>div>a
    {
        position: absolute !important;
        left: -50px !important;
        top: 18px !important;
        color: var(--test) !important;
        
    }
    .custom-message-tile>div
    {
        order: 1 !important;
    }
    
    .custom-tile-category>strong>a
    {
        color: var(--textMid) !important;
    }
    
    /* Side panels */
    .lia-quilt-column-side-content .lia-panel
    {
        border: none;
        background-color: var(--background3) !important;  
    }
    .label-count
    {
        color: var(--text) !important;
    }
    
    /* Welcome panel */
    .lia-panel-content>p>a
    {
        color: var(--links) !important;
    }

/*Top Kudos Panel*/
    span.lia-user-name
    {
        color: var(--text) !important;
    }
    .kudosCountColumn::before
    {
         color: var(--kudosCount) !important;
        top: -7px !important;
    }
    .lia-user-avatar-message
    {
        position: relative !important;
        top: -11px !important;
    }
    .kudosCountColumn.lia-data-cell-tertiary.lia-data-cell-integer
    {
        top: -10px !important;
        left: 185px !important;
        color: var(--kudosCount) !important;
    }
    .lia-view-all>a
    {
        border: none !important;
        background-color: var(--button) !important;  
    }
    .lia-panel-heading-bar-title
    {
        background-color: var(--background3) !important;  
    }
    
/*--------------------------------------------------------------------------------------*/
/*Within Thread*/
    /*Post border*/
    .lia-quilt-forum-message,.lia-message-body>.lia-message-body-content
    {
        border: none;
        background-color: var(--background3) !important;  
    }
    
    /* Links inside of a post */
    .lia-message-body-content a
    {
        color: var(--links) !important; 
    }
    /* In editor panel */
    .lia-message-editor a
    {
        color: var(--links) !important; 
    }
    /* Show or hide signatures */
    if showSignatures == 1
    {
        .UserSignature,.UserSignature>p>span
        {
            font-size: 12px !important;
            background-color: var(--background3) !important;  
            color: var(--signature) !important; 
        }
        .UserSignature>div>a
        {
            color: var(--links) !important; 
        }
    }
    else
    {
        .UserSignature
        {
            display: none !important;
        }
    }
    
    .lia-component-post-date-last-edited
    {
        color: var(--text) !important;      
    }
    
    .lia-message-subject
    {
        color: var(--text) !important;        
    }
    
    /* Share button */
    .lia-button.lia-button-secondary.lia-js-add-this-widget.addthis_button
    {
        color: var(--text) !important;
        background-color: var(--shareButton) !important;    
        border: none !important;
    }
    
    /* Accept solution button */
    .lia-button.lia-button-secondary.lia-link-ticket-post-action
    {
        color: var(--text) !important;
        background-color: var(--shareButton) !important;    
        border: none !important;
    }
    
    /* Kudos button */
    .lia-button-image-kudos
    {
        color: var(--text);
        background-color: var(--shareButton) !important;   
        border: none !important;
    }
    .MessageKudosCount.lia-component-kudos-widget-message-kudos-count
    {
        color: var(--text) !important;
    }
    .lia-button-image-kudos-label.lia-component-kudos-widget-kudos-count-label
    {
        color: var(--text) !important;
    }
    
    
    .lia-button-image-kudos-give>a::before
    {
        color: var(--text) !important;
        border-color: var(--background3) !important;
    }
    .lia-button-image-kudos-give>a
    {
        color: var(--text) !important;
        border-color: var(--background3) !important;
    }
    if stretchToWindow == 1
    {
        .lia-quilt-row-main
        {
            max-width: calc(100% - 90px) !important;
        }
    }
    
    /* Page inc/dev */
    /* Available inc/dec */
    .lia-paging-page-previous>a,.lia-paging-page-next>a
    {
         background-color: var(--background3) !important;   
         border-color: var(--background2) !important; 
         color: var(--text) !important;
    }
    /* Unavailable inc/dec */
    .lia-paging-page-previous>span,.lia-paging-page-next>span
    {
         background-color: var(--background2) !important;   
         border-color: var(--background2) !important; 
         color: var(--text) !important;
    }
    
    .lia-paging-full-pages>li>a
    {
         border-color: var(--background2) !important; 
         background-color: var(--background3) !important; 
         color: var(--text) !important;
    }
    .lia-paging-full-pages>li.lia-paging-page-active>span
    {
         border-color: var(--background2) !important; 
         background-color: var(--blueButton) !important; 
         color: var(--text) !important;
    }
    .lia-paging-page-first>span
    {
         border-color: var(--background2) !important; 
         background-color: var(--blueButton) !important; 
         color: var(--text) !important;
    }
    .lia-paging-page-last>span
    {
         border-color: var(--background2) !important; 
         background-color: var(--blueButton) !important; 
         color: var(--text) !important;
    }
    
    /* Board link in related thread panel */
    .lia-list-standard>li>small>a
    {
        color: var(--textMid) !important;     
    }
    
    /* Sort thread */
    .lia-thread-sort-menu>div>div>div>a
    {
        background-color: var(--shareButton) !important;
        color: var(--text) !important;
    }
    
    /* Post popup menu */
    .lia-menu-dropdown-items,.lia-menu-dropdown-items>li>a
    {
        background-color: var(--shareButton) !important;
        color: var(--text) !important;
    }
    .lia-link-disabled
    {
        color: var(--textMid) !important;
    }
    
    /* Reply panel */
/*
    .lia-message-editor>p
    {
        background-color: var(--background3) !important;
        color: var(--test) !important;
    }*/
    .lia-tinymce-html>body
    {
        background-color: var(--background3) !important;
    }
    .lia-mention-container-editor-user
    {
        color: var(--links) !important;
    }
    .lia-button-Cancel-action
    {
        border: none !important;
        background-color: var(--background4) !important;
        color: var(--text) !important;
    }
    
    /* Mods and staff */
    .lia-user-rank-Volunteer-Moderator>a
    {
        color: var(--moderator) !important;
    }
    .lia-user-rank-Oculus-Community-Manager>a
    {
        color: var(--staff) !important;
    }
        
/*--------------------------------------------------------------------------------------*/
/* Notifications */

    .lia-component-notification-feed
    {
        background-color: var(--background2) !important;
    }

    .lia-component-notification-feed>ul>li
    {
        background-color: var(--background3) !important;
        border: none !important;
        color: var(--text) !important;
    }

    .lia-component-notification-feed>ul>li>div>div>div>div>a
    {
        background-color: var(--background3) !important;
        border: none !important;
        color: var(--links) !important;
    }
    .lia-notification-feed-icon:before
    {
        color: var(--text) !important;
    }



/*--------------------------------------------------------------------------------------*/
/* Home Page */

    /* Trending topics left panel */
    .custom-trending-topics>section>div>p
    {
        color: var(--text) !important;
    }
    
    /* Trending topics right panel */
    .custom-trending-topics>section>div>ul>li>h3>a,.custom-trending-topics>section>div>ul>li>span,.custom-trending-topics>section>div>ul>li>strong>a
    {
        color: var(--text) !important;
    }
    .custom-trending-topics>section>div>ul>li
    {
        background-color: var(--background3) !important;
        border: none !important;
    }

    .hero-right-content>div
    {
        background-color: var(--background3) !important;
        border: none !important;
    }

    .custom-profile-statistics>h2:before,.custom-profile-notifications>section>h2:before
    {
        color: var(--text) !important;
    }
    
    .custom-profile-notifications>section>ul>li>a
    {
        color: var(--links) !important;
    }
    .custom-profile-notifications>section>ul>li>time
    {
        color: var(--text) !important;
    }
    
    .custom-getting-started a
    {
        color: var(--links) !important;
    }
/*--------------------------------------------------------------------------------------*/
/* Help Page */

    .lia-faq-sections-top
    {
        background-color: var(--background3) !important;
        color: var(--text) !important;
        border: none !important;
    }

    .lia-faq-section-title
    {
        background-color: var(--background3) !important;
        color: var(--text) !important;
        border-color: var(--text) !important;
    }

    .lia-faq-section-title:before
    {
        background-color: var(--text) !important;
    }


/*--------------------------------------------------------------------------------------*/
/* Header */
    .lia-quilt-row-header-top,.lia-quilt-row-header-top>div
    {
        background-color: var(--background2) !important;
    }


/*--------------------------------------------------------------------------------------*/
/* Kudos Leaderboard */
    .KudosUserTab>div>div>.lia-decoration-border-content>div>div>div>.lia-panel-heading-bar-title
    {
        background-color: var(--background2) !important;
        color: var(--text) !important;
    }
    .UserSearchItemContainer>div
    {
        background-color: var(--background3) !important;
        border: none !important;
        color: var(--text) !important;
    }
    .base-count-text:before,.base-count-number
    {
        color: var(--kudosCount) !important;
    }
    .lia-user-rank
    {
        color: var(--textLight) !important;
    }
    .lia-component-user-position
    {
        color: var(--kudosCount) !important;
    }
    .lia-component-user-position:before
    {
        display: none !important;
    }
        
    .TimeRangeSelector>ul>li>.lia-link-disabled
    {
        color: var(--text) !important;
        background-color: var(--blueButton) !important;
    }
        
/*--------------------------------------------------------------------------------------*/
/* Search */

    .lia-quilt-row.lia-quilt-row-main
    {
        background-color: var(--background2) !important;
    }

/*    .lia-quilt-column-alley.lia-quilt-column-alley-single
    {
        background-color: var(--background3) !important;
    }
*/
    .lia-message-view-wrapper,.lia-truncated-body-container,.lia-quilt-column-alley.lia-quilt-column-alley-single>.lia-message-body-wrapper.lia-component-message-view-widget-body
    {
        background-color: var(--background3) !important;
    }

    .lia-message-view-message-search-item
    {
        border-color: var(--background2) !important;
        border-bottom-width: 4px !important;
    }
    
    .lia-truncated-body-container
    {
        color: var(--textLight) !important;
    }

    .lia-truncated-body-container>span
    {
        color: var(--test) !important;
    }
    
    .message-subject>span>a>span
    {
        color: var(--test) !important;
    }

    .lia-quilt-search-page-thread-filters
    {
         background-color: var(--background2) !important;
         color: var(--test) !important;
    }

    .lia-quilt-column-main-content>div>li>div>a
    {
        background-color: var(--background2) !important;
         color: var(--test) !important;
    }
    
    .lia-collapsible-panel-body>div
    {
        background-color: var(--background4) !important;
         color: var(--test) !important;
    }
    .type-filter-alternative
    {
        background-color: var(--background4) !important;
         color: var(--text) !important;
    }
    .SearchToggleFieldFilter
    {
        color: var(--text) !important;
    }
    .SearchToggleFieldFilter>div.disabled
    {
        color: var(--textMid) !important;
    }
    .lia-search-filter-bread-crumb-link
    {
        background-color: var(--blueButton) !important;
    }
    .lia-component-search-widget-search-filter-bread-crumb>.lia-panel-feedback-inline-note>div>div>div
    {
        background-color: var(--background2) !important;
        
    }
    .lia-quilt-column-alley.lia-quilt-column-alley-single>.lia-component-message-view-widget-body
    {
        background-color: var(--background2) !important;
        
    }
    .lia-component-search-widget-search-filter-bread-crumb,.lia-component-quilt-search-page-thread-filters
    {
            border: none !important;
    }
    .lia-common-dropdown-toggle
    {
        background-color: var(--background3) !important;
        border: none !important;
        color: var(--text) !important;
    }
    .lia-common-dropdown-menu.dropdown-menu
    {
        background-color: var(--background4) !important;
        border: none !important;
    }
    .lia-tabs-standard 
    {
        background-color: var(--background3) !important;
        border: none !important;
    }
    .lia-panel-feedback-inline-note,.lia-component-search-widget-spellcheck
    {
        background-color: var(--background2) !important;
    }
    .lia-autocomplete-container
    {
        background-color: var(--background3) !important;
        
    }
    .lia-autocomplete-message-item.selected
    {
        background-color: var(--background4) !important;
    }
    .lia-search-match-lithium
    {
        color: var(--test) !important;
    }

}
